*{box-sizing:border-box}
body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#f4f2fb;
}

.container{
  max-width:460px;
  margin:auto;
  padding:20px;
}

.section{display:none}
.section.active{display:block}

h1,h2{color:#4b42c6}
.subtitle{color:#666}

.primary-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#5a4fcf;
  color:white;
  font-size:16px;
  margin-top:15px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

.grid button{
  background:white;
  border:1px solid #ddd;
  padding:18px;
  border-radius:16px;
  font-weight:600;
}

.grade-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  margin:15px 0;
}

.grade{
  background:#ece9ff;
  border-radius:14px;
  padding:15px;
  text-align:center;
  font-weight:700;
}

.grade span{
  display:block;
  font-size:18px;
}

.fail{background:#ffdede}

.formula{
  background:white;
  padding:15px;
  border-radius:12px;
  font-weight:600;
}

.subject{
  display:flex;
  justify-content:space-between;
  background:white;
  padding:12px;
  border-radius:12px;
  margin:10px 0;
}

select,input{
  padding:8px;
  border-radius:8px;
}

.big{
  font-size:42px;
  text-align:center;
  color:#4b42c6;
}

.icon-row{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.icon-row button{
  flex:1;
  padding:12px;
  border-radius:12px;
  border:none;
  background:#ece9ff;
}