*{box-sizing:border-box}

body{
  margin:0;
  font-family:'Segoe UI',system-ui,sans-serif;
  background:#f4f2fb;
}

.container{
  max-width:420px;
  margin:auto;
  padding:20px;
}

.section{display:none}
.section.active{display:block}

.card{
  background:white;
  border-radius:18px;
  padding:20px;
  margin-bottom:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.center{text-align:center}

h1,h2,h3{color:#3f37c9}
.subtitle{color:#666}

.primary-btn{
  width:100%;
  padding:14px;
  background:#5a4fcf;
  color:white;
  border:none;
  border-radius:14px;
  font-size:16px;
  margin-top:15px;
}

.btn-row{display:flex;gap:10px}
.btn-row button,
.grid button{
  flex:1;
  padding:15px;
  border-radius:14px;
  border:1px solid #ccc;
  background:white;
  font-weight:bold;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.subject{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}

select{
  padding:6px;
  border-radius:8px;
}

.grade-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.grade{
  background:#ece9ff;
  padding:14px;
  border-radius:14px;
  text-align:center;
  font-weight:bold;
}

.grade span{
  display:block;
  font-size:14px;
  color:#555;
}

.fail{background:#ffdede}

.big{
  font-size:40px;
  color:#3f37c9;
}

.icon-row{
  display:flex;
  justify-content:center;
  gap:20px;
}